.footer {
    background-color: $footer--background;
    @include flexDisplay(column, 1rem, flex-start, flex-start);
    width: 100%;
    height: 80vh;
    margin-top: 15vh;
    position: relative;
    .footerForm {
        position: absolute;
        background-color: $signup--background;
        border-radius: 10px;
        width: 90%;
        left: 5%;
        bottom: 40rem;
        .subform {
            @include flexDisplay(column, 1rem, center, center);
            .blockContent {
                width: 95%;
            }
            .blockTitle {
                font-weight: bolder;
            }
            .form {
                @include flexDisplay(row, 1rem, center, flex-start);

                width: 90%;
                input {
                    width: 100%;
                    height: 2rem;
                    border: none;
                    border-radius: 25px;
                }
                .formBtn {
                    width: 70%;
                    font-weight: bolder;
                }
            }
        }
    }
    &Intro,
    &Contact,
    &Nav,
    &Social {
        width: 90%;
        margin: auto;
    }
    &Intro {
        margin-top: 12rem;
        @include flexDisplay(column, 1rem, center, center);
    }
    &Logo {
        width: 30%;
    }
    .navMenu {
        @include flexDisplay(column, 0.5rem, flex-start, flex-start);
    }
    &Social {
        margin-bottom: 2rem;
        @include flexDisplay(row, 1rem, flex-start, center);
        .iconItems {
            width: 1.5rem;
            i {
                color: $white;
            }
        }
    }
}
