@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

@import "./variables.scss";
@import "./mixin.scss";
@import "./button.scss";
@import "./navbar.scss";
@import "./header.scss";
@import "./form.scss";
@import "./footer.scss";

.header {
    font-family: "Open Sans", sans-serif;
}

.listOfInput {
    display: flex;
    flex-direction: column;
}
