.productive {
    margin-top: 3rem;
    @include flexDisplay(column, 1rem, center, center);
    width: 100%;
    margin-bottom: 20vh;

    @media (min-width: $laptop--resolution) {
        @include flexDisplay(row, 4rem, center, center);
        width: 80%;
        height: 50vh;
        max-height: 50vh;
    }
    .block {
        width: 90%;
        @media (min-width: $laptop--resolution) {
            width: 80%;
        }
        &Img {
            margin: auto;
            width: 100%;
        }
    }
}
