.services {
    @include flexDisplay(column, 1rem, center, center);
    width: 70%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    @media (min-width: $laptop--resolution) {
        margin-top: 20vh;
        @include gridDisplay(2, 40%, 2, 50vh, 1rem, 1rem);
        margin-top: 5vh;
        width: 80%;
        height: 100vh;
    }
    .block {
        justify-content: center;
        align-items: center;
        &Content {
            text-align: center;
        }

        @media (min-width: $laptop--resolution) {
            margin: auto;
            .blockImg {
                width: 6rem;
                height: 5rem;
            }
        }
    }
}
