.testimonial {
    @include flexDisplay(column, 1rem, center, center);
    width: 100%;
    height: 100vh;
    margin-top: 5vh;
    margin-bottom: 70vh;

    @media (min-width: $laptop--resolution) {
        @include flexDisplay(row, 1rem, center, center);
        width: 90%;
        height: 50vh;
        margin-top: 2vh;
        margin-bottom: 20vh;
    }
    &Item {
        margin-top: 5vh;
        width: 90%;
        @include flexDisplay(column, 0rem, center, flex-start);
        border-radius: 5px;
        background-color: $testimonial--background;
        .blockContent {
            margin: 1rem;
        }
        .author {
            @include flexDisplay(row, 1rem, center, center);
            margin: 1rem;
            img {
                border-radius: 50%;
                width: 3rem;
            }
            &Name {
                font-weight: bolder;
            }
            &Position {
                font-weight: lighter;
                font-size: 0.5rem;
            }
        }
    }
}
