.testimonial {
    @include flexDisplay(column, 1rem, center, center);
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    &Item {
        width: 90%;
        @include flexDisplay(column, 0rem, center, flex-start);
        border-radius: 5px;
        background-color: $testimonial--background;
        .blockContent {
            margin: 1rem;
        }
        .author {
            @include flexDisplay(row, 1rem, center, center);
            margin: 1rem;
            img {
                border-radius: 50%;
                width: 3rem;
            }
            &Name {
                font-weight: bolder;
            }
            &Position {
                font-weight: lighter;
                font-size: 0.5rem;
            }
        }
    }
}
