$mobile--resolution: 799px;
$laptop--resolution: 800px;
$desktop--resolution: 1440px;

$signup--background: hsl(217, 28%, 15%);
$main--background: hsl(218, 28%, 13%);
$footer--background: hsl(216, 53%, 9%);
$testimonial--background: hsl(219, 30%, 18%);

$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$light--red: hsl(0, 100%, 63%);

$white: hsl(0, 0%, 100%);
